/* ESTILOS GENERALES DE LA SECCION */
#contact{
    background-color: var(--lightBlue);
    color: var(--darkVioletText)
}
.contact-card{
    width: 70rem;
    min-height: 70vh;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    padding: 5rem 4rem;
    box-sizing: border-box;
}
/* ESTILOS DEL MAIN */
.contact-main, .contact-form{
    display: flex;
    flex-direction: column;
}
.contact-main{
    width: 30em;
    margin-right: 5rem;
}
/* TITULOS */
.contact-title, .form-title{
    font-weight: 800;
    font-size: 2em;
    margin-bottom: 1em;
}
/* DESCRIPCION */
.contact-description{
    margin-bottom: 2rem;
}
/* ICONOS */
.contact-icons{
    display: flex;
    flex-direction: column;
}
.contact-icon-container:nth-of-type(3)>.contact-icon{
    padding: 0.5em 0.55em;
}
.contact-icon{
    font-size: 1.2em;
    margin-bottom: 1em;
    color:var(--darkGreen);
    border-radius: 100px;
    padding:0.5em
}
.icon-description{
    font-weight: 300;
    margin-left: 1em;
    font-size: 0.9em;
}
/* :HOVER DE ICONOS */
.contact-icon-container:hover>.contact-icon{
    color: white;
    background-color: var(--darkGreen);
}
.contact-icon-container:hover>.icon-description{
    color: var(--darkGreen);
    background-color: white;
}
/* ESTILOS GENERALES DEL FORMULARIO */
fieldset{
    border: none;
}
ul{
    list-style: none;
}
.contact-form{
    width: 40em;
    box-sizing: border-box;
}
.form-card-container{
    width: 100%;
}
.form-card{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}
/* ESTILOS DE CADA INPUT */
.form-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
}
.form-label{
    margin-bottom: 0.5em;
}
.input-per-se{
    padding:0.6em 0.7em;
    border: none;
    border-radius: 50px;
    background-color: var(--cream);
}
.input-message{
    padding:1em 1em;
    border: none;
    background-color: var(--cream);
    border-radius: 10px;
    border-bottom-right-radius: 0;
}
.form-input:nth-of-type(1), .form-input:nth-of-type(2){
    flex-grow:1;
    flex-shrink: 1;
    max-width: 47%;
}
.form-input:nth-of-type(3){
    flex:9999 0 100%
}
.form-input:nth-of-type(1){
    margin-right: 1.5em;
}
/* FORM BUTTON */
.form-button{
    border:none;
    background-color: var(--darkPink);
    color:#fff;
    font-size:1.2em;
    padding: 0.7em 1.5em;
    margin-top: 1em;
    border-radius: 50px;
}
/* :HOVERS DEL FORMULARIO */
.input-per-se:hover, .input-per-se:focus, .input-per-se:active{
    box-shadow: 0px 0px 8px 0.8px var(--lightBlue);
}
.form-button:hover, .form-button:active{
    background-color: var(--lightPink);
    color: var(--darkVioletText);
}
/* MEDIA QUERIES */
@media (max-width: 1250px){
    .contact-card{
        width: 60em;
    }
}
@media (max-width: 1000px){
    .contact-card{
        width: 50em;
    }
}