/* FOOTER GENERALS */

.footer-section {
    width: 100vw;
    min-height: 2vh;
    background-color: var(--mediumPink);
    align-items: center;
    justify-content: center;
    padding: 7rem;
    color: var(--darkVioletText);
    z-index: -1;
}

.footer.container {
    align-items: center;
    justify-content: space-evenly;
}

/* END FOOTER GENERALS */

/* NAVIGATION LINKS */

.footer-links {
    display: flex;
    list-style: none;
}

.footer-link {
    color: var(--darkVioletText);
    font-weight: 400;
    margin: 0 1em;
    text-transform: uppercase;
    font-size: 0.95em;
    transition: var(--transitionNav);
}

.footer-link:hover {
    background-color: var(--cream);
    border-radius: 50px;
    padding: 1em;
}

/* END NAVIGATION LINKS */

/* SOCIAL ICONS */

.footer-icons {
    margin: 2.5rem;
    display: flex;
    justify-content: space-evenly;
}

.footer-icon {
    font-size: 1.6em;
    background-color: var(--cream);
    border-radius: 100px;
    padding: 0.5em;
    margin: 0 0.2em;
    transition: var(--transitionSocials);
}

.footer-icons :nth-child(3) .footer-icon {
    padding: 0.5em 0.55em;
}

.footer-icon:hover {
    color: var(--cream);
    background-color: var(--darkVioletText);
}

/* END SOCIAL ICONS */

/* FINAL SIGNATURE */

.footer-signature {
    font-weight: 300;
}

/* END FINAL SIGNATURE */

/* MEDIA QUERIES */

@media (max-width: 700px) {
    .footer-links {
        display: none;
    }
}

@media (max-width: 580px) {
    .footer-section {
        padding: 2.5em 0em;
    }

    .footer-icons {
        margin: 2.5rem auto;
    }
}

@media(max-width: 400px) {
    .footer-icon {
        font-size: 1.4em;
    }
}

@media(max-width: 290px) {
    .footer-icon {
        font-size: 1.3em;
    }
}

/* END MEDIA QUERIES */