/* ESTILOS GENERALES DEL HEADER */
#hello{
    background-color: #fff;
}
.header-container{
    display: flex;
    flex-direction: row;
    padding: 0;
}
/* ESTILOS DE LA IMAGEN */
.image{
    flex-basis: 30%;
}
.main-image>img{
    width: 100%;
    min-width: 20em;
}
/* ESTILOS DE LA PRESENTACION */
.presentation{
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}
.presentation>*{
    margin-bottom: 0.5em;
}
.presentation-intro{
    color: var(--darkViolet);
    font-size: 2em;
    font-weight: 500;
}
.presentation-title{
    color: var(--darkPink);
    font-size: 3em;
    font-weight: 700;
}
.presentation-description{
    color: var(--veryDarkViolet);
    font-size: 1em;
    font-weight: 300;
}
/* BOTON HEADER */
.presentation-button{
    border:none;
    margin-top:1.5em;
    padding: 1em 2em;
    background-color: var(--cream);
    border-radius: 100px;
    color: #615357;
}
.presentation-button:hover{
    background-color: #615357;
    color: var(--cream);
}