/* KNOWLEDGE GENERALS */

.knowledge-section{
    background-color: var(--lightBlue);
    text-align: center;
}

/* END KNOWLEDGE GENERALS */

/* TITLE AND DESCRIPTION */

.knowledge-title, .knowledge-description{
    color: var(--darkVioletText);
    margin:0 auto;
}
.knowledge-title{
    width: 40rem;
    font-weight: 700;
    font-size: 2.5em;
    margin-bottom: 1em;
}
.knowledge-description{
    width: 30rem;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 4em;
}
/* TITLE AND DESCRIPTION */

/* CARDS GENERALS */

.knowledge-cards{
    margin:0 auto;
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
/* END CARD GENERALS */

/* EACH CARD AND EACH ICON */

.knowledge-card{
    font-size: 5em;
    display: flex;
    flex-direction: column;
    padding: 0.6em 1em;
    background-color: #faf3f2;
    margin:  0.1em 0.5em;
    border: 2px solid 
    rgba(156, 128, 136, 0.2);
    border-radius: 10px;
    color: #977186;
    box-sizing: border-box;
}
.knowledge-icon-description{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 2em;

}
.knowledge-card:hover{
    border: 2px solid #9c8088;
    color: #b17990;
}

/* END EACH CARD AND EACH ICON */

/* MEDIA QUERIES */

@media(max-width: 1500px){
    .knowledge-container{
        max-width: 85vw;
    }
}
@media(max-width:1200px){
    .knowledge-container{
        max-width: 100vw;
    }
}
@media(max-width: 650px){
    .knowledge-card{
        font-size: 3.5em;
        margin: 0.1em 0.1em;
    }
    .knowledge-cards :nth-of-type(4){
        padding: 0.6em 0.75em;
    }
}
@media(max-width: 520px){
    .knowledge-description, .knowledge-title{
        max-width: 20rem;
    }
}
@media(max-width:370px){
    .knowledge-card{
        font-size: 3em;
        margin: 0.05em 0.05em;
    }
}
@media(max-width: 340px){
    .knowledge-description, .knowledge-title{
        max-width: 15rem;
        text-align: left;
    }
    .knowledge-title{
        font-size: 1.5em;
    }
    .knowledge-card{
        margin: initial 0;
    }
}
/* END MEDIA QUERIES */