/* KNOWLEDGE GENERALS */

.knowledge-section{
    background-color: var(--lightBlue);
    text-align: center;
}

/* END KNOWLEDGE GENERALS */

/* TITLE AND DESCRIPTION */

.knowledge-title, .knowledge-description{
    color: var(--darkVioletText);
    margin:0 auto;
}
.knowledge-title{
    font-weight: 700;
    font-size: 2.5em;
    margin-bottom: 1em;
}
.knowledge-description{
    width: 30em;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 3em;
}
/* TITLE AND DESCRIPTION */

/* CARDS GENERALS */

.knowledge-cards{
    margin:0 auto;
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
/* END CARD GENERALS */

/* EACH CARD AND EACH ICON */

.knowledge-card-container{
    position: relative;
    z-index: 1;
    font-size: 5em;
    margin:  0.1em 0.5em;
    background-color: #faf3f2;
    border-radius: 10px;
}
.knowledge-card{
    font-size: 1em;
    display: flex;
    flex-direction: column;
    padding: 0.6em 1em;
    border: 2px solid 
    rgba(156, 128, 136, 0.2);
    border-radius: 10px;
    color: #804d69;
    position: relative;
    z-index: 9999;
    min-width: 3.6em;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease; 
    -ms-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
}
.knowledge-icon-description{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 2em;
}
.knowledge-card-container:hover .knowledge-card{
    border: 2px solid #9c8088;
    color: #b17990;
    background: none;
}
.knowledge-card-container::before{
    content: "";
    position: absolute;
    transition: all 0.5s ease 0.05s;
    -webkit-transition: all 0.5s ease 0.05s;
    -moz-transition: all 0.5s ease 0.05s; 
    -ms-transition: all 0.5s ease 0.05s; 
    -o-transition: all 0.5s ease 0.05s;
    opacity: 0;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    border-radius: 10px;
    z-index: -1;
}
.knowledge-card-container:hover::before{  
    opacity: 0.5;
    background: url(../images/background-one.jpg);
    background-size: 100%;
    background-position: center; 
}

/* END EACH CARD AND EACH ICON */

/* MEDIA QUERIES */

@media(max-width: 1700px){
    .knowledge-container{
        max-width: 85vw;
    }
}
@media(max-width:1300px){
    .knowledge-container{
        max-width: 100vw;
    }
}
@media(max-width: 736px){
    .knowledge-card-container{
        font-size: 3.5em;
        margin: 0.1em 0.1em;
        min-width: 3.4em;
    }
    .knowledge-cards :nth-of-type(4)  .knowledge-card{
        padding: 0.6em 0.6em;
    }
}
@media(max-width: 520px){
    .knowledge-header{
        font-size: 0.9em;
    }
    .knowledge-description, .knowledge-title{
        max-width: 20rem;
    }
    .knowledge-description{
        margin-bottom: 2em;
    }
}
@media(max-width:402px){
    .knowledge-card-container{
        font-size: 3em;
        margin: 0.05em 0.05em;
    }
}
@media(max-width: 340px){
    .knowledge-description, .knowledge-title{
        max-width: 15rem;
        text-align: left;
    }
    .knowledge-title{
        font-size: 1.8em;
    }
    .knowledge-card-container{
        margin: initial 0;
        font-size: 2.8em;
    }
}

/* END MEDIA QUERIES */