/* VARIABLES */
:root{
    --veryDarkViolet: #635156;
    --darkViolet: #9D8189;
    --darkPink:#e8a6c2;
    --lightPink: #f5cddd;
    --darkVioletText:#47313d;
    --cream: #fcefed;
    --lightBlue: #e5eef1;
    --darkGreen:#6b7580;
}
/* GLOBALES */
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-decoration: none;
}
/* HTML CONFIGURACION */
html{
    width: 100%;
}
/* CADA SECCIÓN DEL HTML */
.html-section{
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12em 0 10em 0;
}
/* CONTAINERS */
.section-container{
    box-sizing: border-box;
    max-width: 65vw;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}