/* VARIABLES */

:root{
    --veryDarkViolet: #635156;
    --darkViolet: #9D8189;
    --darkPink:#e8a6c2;
    --lightPink: #f5cddd;
    --darkVioletText:#47313d;
    --cream: #fcefed;
    --lightBlue: #e5eef1;
    --darkGreen:#6b7580;
    --lightGreen: rgb(187, 231, 220);
    --lightRed: rgb(207, 146, 146);
}

/* END VARIABLES */

/* GLOBALS */

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-decoration: none;
    outline: none;
}

/* END GLOBALS */

/* HTML CONFIGURATION */

html{
    width: 100%;
}

/* END HTML CONFIGURATION */

/* EACH HTML SECTION */

.html-section{
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12em 0 10em 0;
}

/* END EACH HTML SECTION */

/* CONTAINERS */

.section-container{
    box-sizing: border-box;
    max-width: 65vw;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

/* END CONTAINERS */

/* MEDIA QUERIES */

@media(max-width: 550px){
    .html-section{
        padding-top:6em;
        padding-bottom: 5em;
    }
}

/* END MEDIA QUERIES */