/* BARRA DE NAVEGACIÓN  */
.navigation-bar{
    position: fixed;
    top:0;
    right:0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 2.2em 12em;
    box-shadow: 0px 3px 15px 4px rgba(157,129,137,0.41);
    background-color: #fff;
}
/* UL */
.navigation-links{
    list-style: none;
    display: flex;
}
/* LI */
.nav-link>a, .nav-last-link>a{
    margin: auto 0.2em;
    padding: 0.7em 2em;
    color: var(--darkViolet);
}
.nav-link>a:hover{
    color: var(--veryDarkViolet);
}
.nav-last-link>a{
    color: #fff;
    background-color: var(--veryDarkViolet);
    border-radius: 100px;
}
.nav-last-link>a:hover{
    background-color: var(--darkViolet);
    color: #fff;
}
/* .nav-link>a:active, .nav-last-link>a:active{
    box-shadow: 0px 0px 15px 4px rgba(157,129,137,0.71);
} */
.nav-link>a {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .nav-link>a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: var(--dark-violet);
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .nav-link>a:hover:before, .nav-link>a:focus:before, .nav-link>a:active:before {
    left: 0;
    right: 0;
  }
/* MEDIA QUERIES */
@media (max-width: 1000px){
    .navigation-bar{
        display: none;
    }
}