/* NAVIGATION BAR GENERALS  */

.navigation-bar{
    position: fixed;
    top:0;
    right:0;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    padding: 2.2em 12em;
    box-shadow: 0px 3px 15px 4px rgba(157,129,137,0.41);
    background-color: #fff;
    z-index: 9999;
}

/* END NAVIGATION BAR GENERALS */

/* DROPDOWN MENU */

.dropdown-menu{
    display: none;
    opacity: 0;
    color: var(--veryDarkViolet);
    font-size: 1.5em;
}
.dropdown-menu .dropdown-links{
    display: none;
}

/* END DROPDOWN MENU */

/* GENERAL LIST (UL) */

.navigation-links, .dropdown-links{
    list-style: none;
    display: flex;
}

/* END GENERAL LIST */

/* LIST ITEM */

.nav-link>a, .nav-last-link>a, .dropdown-link>a, .dropdown-last-link>a{
    margin: auto 0.2em;
    padding: 0.7em 2em;
    color: var(--darkViolet);
    position: relative;
    border-radius: 100px;
}
.nav-last-link>a, .dropdown-last-link>a{
    color: #fff;
    background-color: var(--veryDarkViolet);
    border-radius: 100px;
}
.nav-link>a:active, .nav-last-link>a:active{
    box-shadow: 0px 0px 15px 4px rgba(157,129,137,0.71);
}

/* LIST ITEM HOVER STYLES */

.nav-link>a:hover, .dropdown-link>a:hover{
    color: var(--veryDarkViolet);
}
.nav-last-link>a:hover, .dropdown-last-link>a:hover{
    background-color: var(--darkViolet);
    color: #fff;
}
.nav-link>a:hover::before{
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: 0.2; 
    z-index: -1;
    background: url(../images/background-three.jpg);
    background-size: 160%;
    background-position: center;
    border-radius: 100px;
}

/* END LIST ITEM STYLES */

/* MEDIA QUERIES */

@media (max-width: 1000px){
    .navigation-bar{
        position:relative; 
        
        padding-top:1em;
        padding-bottom: 1em;
    }
    .navigation-links{
        display: none;
    } 
    .dropdown-links{
        display: none;
        font-size: 0.6em;
    }
    .dropdown-menu{
        display: inline;
        opacity:1;
        position: relative;
        left: 6em;        
    }
    
    /* DROPDOWN MENU HOVERS */

    .dropdown-menu:hover  .dropdown-links{
        cursor: pointer;
        display: block;
        position: absolute;
        top: 1.8em;
        right: 0em; 
        background-color: rgba(243, 188, 220, 0.8);
        border-radius: 10px;
        text-align: right;
        padding: 1em 0.5em;
    }
    .dropdown-menu:hover  .dropdown-links li{
        margin-bottom: 1em;
    }
    .dropdown-menu:hover  .dropdown-links li:last-of-type{
        margin-right: 1em;
        margin-top: 1.5em;
    }

    /* END DROPDOWN MENU HOVERS */
}

/* END MEDIA QUERIES */