#projects{
    background-color: var(--cream);
    text-align: center;
    min-height: 150vh;
}
.projects-title, .projects-description{
    color: var(--dark-violet-text);
    margin:0 auto;
}
.projects-title{
    width: 40em;
    font-weight: 700;
    font-size: 2.5em;
    margin-bottom: 1em;
}
.projects-description{
    width: 30em;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 4em;
}
.project-cards{
    justify-content: center;
    margin:0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.project-card{
    width: 18em;
    height: 18em;
    padding: 1em 1.5em;
    background-color: #fff;
    margin:  0.3em 0.5em;
    border: 2px solid 
    rgba(156, 128, 136, 0.2);
    border-radius: 10px;
    color: #977186;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.project-image{
    width: 90%;
}
.project-img-description{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 3rem;
}
.project-card:hover{
    border: 2px solid #9c8088;
    color: #b17990;
}
