/* PROJECTS GENERALS */

.projects-section{
    background-color: var(--cream);
    text-align: center;
    min-height: 150vh;
}
.projects-container header{
    width: fit-content;
}

/* END PROJECTS GENERALS  */

/* TITLE AND DESCRIPTION */

.projects-title, .projects-description{
    color: var(--darkVioletText);
    margin:0 auto;
}
.projects-title{
    font-weight: 700;
    font-size: 2.5em;
    margin-bottom: 1em;
}
.projects-description{
    width: 30em;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 4em;
}

/* END TITLE AND DESCRIPTION */

/* CARDS GENERALS */

.project-cards{
    justify-content: center;
    margin:0 auto;
    max-width: 75em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
.project-cards :last-child{
    align-self: flex-start;
}

/* END CARD GENERALS */

/* EACH CARD */

.project-card{
    width: 18em;
    max-height: 18em;
    padding: 1em 1.5em;
    background-color: #fff;
    margin:  0.3em 0.5em;
    border: 2px solid 
    rgba(156, 128, 136, 0.2);
    border-radius: 10px;
    color: #977186;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 18em;
}
.project-image{
    width: 90%;
}
.project-img-description{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 3rem;
}
.project-card:hover{
    border: 2px solid #9c8088;
    color: #b17990;
}

/* END EACH CARD */

/* MEDIA QUERIES */

@media(max-width: 1500px){
    .projects-container{
        max-width: 80vw;
    }
}
@media(max-width:1140px){
    .projects-container{
        max-width: 100vw;
    }
}
@media(max-width: 606px){
    .projects-header{
        font-size: 0.9em;
    }
    .projects-description, .projects-title{
        max-width: 20rem;
    }
    .projects-description{
        margin-bottom: 2em;
    }
    .project-card{
        font-size: 0.85em;
        min-width: 90%; 
        min-height: 15em;
    }
    .project-image{
        width: 50%;
    }
    .project-img-description{
        margin-top: 1rem;
    }
}
@media(max-width: 340px){
    .projects-description, .projects-title{
        max-width: 15rem;
        text-align: left;
    }
    .projects-title{
        font-size: 1.5em;
    }
    .project-card{
        margin: initial 0;
        min-height: 12em;
    }
}

/* END MEDIA QUERIES */
