/* QUOTE GENERALS */

.quote-section{
    width: 100vw;
    min-height: 55vh;
    background-color: var(--darkPink);
    align-items: center;
    justify-content: space-evenly;
    padding: 10rem;
}

/* END QUOTE GENERALS */

/* QUOTE ICON */

.quote-icon{
    font-size: 5em;
    color: var(--veryDarkViolet);
    margin-bottom: 1em;
    text-shadow: 2px 2px var(--cream);
}

/* END QUOTE ICON */

/* QUOTE TEXT */

.quote-per-se{
    color: var(--darkVioletText);
    font-size: 1.1em;
    line-height: 1.65;
    width: 40em;
    text-align: center;
    font-weight: 400;
    margin-bottom: 5rem;
}

/* END QUOTE TEXT */

/* QUOTE AUTHOR */

.quote-author{
    color: var(--veryDarkViolet);
    font-size: 1.5em;
    font-weight: 800;
    background-color: var(--cream);
    padding:0.5em;
    border-radius: 10px;
}

/* END QUOTE AUTHOR */

/* MEDIA QUERIES */

@media (max-width: 800px){
    .quote-section{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .quote-icon{
        margin-bottom: 0.5em;
    }
    .quote-per-se{
        width: 30em;
        margin-bottom: 2.5em;
    }
}
@media (max-width: 600px){
    .quote-section{
        font-size: 0.9em;
    }
    .quote-icon{
        font-size: 3.5em;
    }
    .quote-per-se{
        width: 20em;
    }
}
@media (max-width: 350px){
    .quote-per-se{
        width: 10em;
    }
}

/* END MEDIA QUERIES */